header.header 
  .header__container   
    .header__body
      a.header__logo(href='#')
        img(src=require("../../img/svg/Frame.png") alt='Brella+')
      .header__burger
        span.header__span 
      nav.header__menu
        ul.header__list
          li.header__link(href='#') Our Plan
          li.header__link(href='#') Employers
          li.header__link(href='#') Brokers
          li.header__link(href='#') Members
          li.header__link(href='#') About
          li.header__link(href='#') Blog 
          button.header__demo(type='submit') Request a demo 
          li.header__link(class='header__login' href='#') Login 
          li.header__link(href='#') EN